# Development environment variables
# Development environment variables
DATABASE_NAME=dotnet-rpg-db
DATABASE_USERNAME=admin
DATABASE_PASSWORD=adminpassword
DATABASE_PORT=5434

PASSWORD_CREDENTIAL="DotnetAPIpass0123"
